h1 {
	font-size: 2em;
	color: #DAAC77
}

body {
    padding-bottom: 40px;
}

.form-block {
	margin-bottom: 5px;
}

.radio-inline {
  height: 1em;
}

.size {
	margin-top: 2px;
	min-height: 34px;
} 

.toppings {
	margin-top: 2px;
	min-height: 72px;
}